<!DOCTYPE html>
<html>
<head>
<title></title>
      <style>
         h1,h4 {text-align: center;}
         title {text-align: center;}
         table, th, td {
            border: 1px solid black;
         }
      </style>
</head>

<body>
<h1>JerusalemGym</h1>
<h4>Find an activity</h4>

<form  action="/", method="POST", style="text-align:center;">
    <label for="activity">Activity Type</label>
    <input type="text" id="activity" name="activity"><br>

    <label for="time">Time</label>
    <input type="text" id="time" name="time"><br>

    <label for="age">Age</label>
    <input type="text" id="age" name="age"><br>

    <label for="director">Director</label>
    <input type="text" id="director" name="director"><br>

    <br>
    <input type="submit" value="Find Activity">

</form>

</body>
</html>